@font-face {
    font-family: 'HKGrotesk';
    src: url("fonts/HKGrotesk-Regular.woff") format("woff");
}

#Home h1 {
    font-size: 33px;
}

#Home {
    font-family: 'HKGrotesk';
    color: white;
    padding-left: 5vh;
}